{% extends "layout/master.twig" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <article>
          <h1>{{ __('404', 'west') }}</h1>

          <h2>
            {{ __("The page you are looking for doesn't exist..", 'west') }}
          </h2>
        </article>
      </div>
    </div>
  </div>
{% endblock %}